/* Import styles */
@import '~reset-css/reset.css';
@import '~@material/layout-grid/dist/mdc.layout-grid.css';
@import '~@material/typography/dist/mdc.typography.css';
@import '~@material/elevation/dist/mdc.elevation.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Global variables */
:root {
  --mdc-theme-primary: #00897b;
  --mdc-theme-accent: #f48fb1;

  --container-width: 90em;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none;
}
