<main class="mat-app-background mdc-typography mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <section class="authentication__column
                    authentication__column--left
                    mdc-layout-grid__cell
                    mdc-layout-grid__cell--span-6
                    mdc-elevation--z6">
    </section>
    <section class="authentication__column
                    authentication__column--right
                    mdc-layout-grid__cell
                    mdc-layout-grid__cell--span-6"
             [@fadeAndScaleInOut]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </section>
  </div>
</main>
