.authentication__title {
  color: var(--mdc-theme-primary);
}

.authentication__form {
  width: 350px;
}

.authentication__input {
  width: 100%;
  margin-bottom: 50px;
}

/* Remove yellow background from Chrome autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: initial !important;
}
