<h1 class="authentication__title mdc-typography--display1 mdc-typography--adjust-margin">Update Password</h1>

<form class="authentication__form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <md-input-container class="authentication__input">
    <input mdInput
           type="password"
           placeholder="Password"
           formControlName="password">
    <md-error>Password field is required</md-error>
  </md-input-container>

  <md-input-container class="authentication__input">
    <input mdInput
           type="password"
           placeholder="Password confirmation"
           formControlName="passwordConfirmation">
    <md-error *ngIf="form.controls.passwordConfirmation.errors &&
                     form.controls.passwordConfirmation.errors.required">Password confirmation field is required</md-error>
    <!-- <md-error *ngIf="form.controls.passwordConfirm.errors &&
                     form.controls.passwordConfirm.errors.email &&
                     !form.controls.passwordConfirm.errors.required">Password confirmation field does not match the password field</md-error> -->
  </md-input-container>

  <app-loading-button label="Update Password" [loading]="isLoading" [disabled]="!form.valid"></app-loading-button>

  <a routerLink="/login" md-button color="primary">Login</a>
</form>
