<div *ngIf="(rightsState | async).rights">
  <md-menu #settingsMenu="mdMenu">
    <p class="c-settings-menu__title"
       *ngIf="(rightsState | async).rights.can_edit_campground">Manage the campground</p>

    <a md-menu-item
       routerLink="/dashboard/rentals"
       *ngIf="(rightsState | async).rights.can_edit_campground">Rentals</a>
    <a md-menu-item
       routerLink="/dashboard/prices"
       *ngIf="(rightsState | async).rights.can_edit_campground">Prices</a>

    <div class="mdc-list-divider"
         *ngIf="(rightsState | async).rights.can_edit_campground"></div>

    <p class="c-settings-menu__title"
       *ngIf="(rightsState | async).rights.can_view_rights ||
              (rightsState | async).rights.can_view_api_keys ||
              (rightsState | async).rights.can_view_users">Manage the accesses</p>

    <a md-menu-item
       routerLink="/dashboard/rights"
       *ngIf="(rightsState | async).rights.can_view_rights">Rights</a>
    <a md-menu-item
       routerLink="/dashboard/api-keys"
       *ngIf="(rightsState | async).rights.can_view_api_keys">API Keys</a>
    <a md-menu-item
       routerLink="/dashboard/users"
       *ngIf="(rightsState | async).rights.can_view_users">Users</a>
  </md-menu>

  <button md-icon-button [mdMenuTriggerFor]="settingsMenu">
    <md-icon class="c-header__secondary-nav-item">settings</md-icon>
  </button>
</div>
