<h1 class="authentication__title mdc-typography--display1 mdc-typography--adjust-margin">Reset Password</h1>

<form class="authentication__form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <md-input-container class="authentication__input">
    <input mdInput
           type="text"
           placeholder="Email"
           formControlName="email">
    <md-error *ngIf="form.controls.email.errors &&
                     form.controls.email.errors.required">Email field is required</md-error>
    <md-error *ngIf="form.controls.email.errors &&
                     form.controls.email.errors.email &&
                     !form.controls.email.errors.required">Please enter a valid email</md-error>
  </md-input-container>

  <app-loading-button label="Reset Password" [loading]="isLoading" [disabled]="!form.valid"></app-loading-button>

  <a routerLink="/login" md-button color="primary">Login</a>
</form>

