<div class="c-header-widget">
  <div class="c-header-widget__main">
    <div class="c-header-widget__user-info">
      <div class="c-header-widget__user">
        <img class="c-header-widget__user-image" src="assets/images/profile.png" alt="Profile picture">
        <span>{{(authenticationState | async).firstName}} {{(authenticationState | async).lastName}}</span>
      </div>
      <a (click)="onLogout()">
        <md-icon class="c-header-widget__logout">power_settings_new</md-icon>
      </a>
    </div>
    <span class="c-header-widget__separator"></span>
    <span>Unprocessed items:</span>
  </div>
  <div class="c-header-widget__sub">
    <div class="c-header-widget__sub-item">
      <div class="c-header-widget__sub-item-value">8</div>
      <div class="c-header-widget__sub-item-label">Bookings</div>
    </div>
    <div class="c-header-widget__sub-item">
      <div class="c-header-widget__sub-item-value">5</div>
      <div class="c-header-widget__sub-item-label">Estimates</div>
    </div>
    <div class="c-header-widget__sub-item">
      <div class="c-header-widget__sub-item-value">6</div>
      <div class="c-header-widget__sub-item-label">Invoices</div>
    </div>
  </div>
</div>
